<div
  class="container p-3 fa-align-center mt-5 shadow-sm rounded"
  aria-hidden="true"
>
  <div class="row text-center">
    <div class="col">
      <ul class="list-group" *ngFor="let project of projects">
        <li
          class="list-group-item"
          (click)="onSelect(project)"
          [ngClass]="{ selectedProject: selectedProject == project }"
        >
          {{ project }}
        </li>
      </ul>
    </div>
    <div class="col-10 p-2" style="background-color: rgb(177, 229, 255)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
