<div class="container">
  <form [formGroup]="todolistForm" class="form-control" (ngSubmit)="onSubmit()">
    <div class="row m-2">
      <div class="col-12">
        <input
          type="text"
          class="form-control"
          placeholder="Header"
          formControlName="header"
        />
        <span
          *ngIf="
            todolistForm.get('header').errors['required'] &&
            todolistForm.get('header').touched
          "
          class="formnoti text-left"
          >Please enter the header</span
        >
        <span
          *ngIf="
            todolistForm.get('header').errors['headerIsTaken'] &&
            todolistForm.get('header').touched
          "
          class="formnoti text-left"
          >Header is already taken</span
        >
      </div>
    </div>
    <div class="row m-2">
      <div class="col-12">
        <textarea
          type="text"
          class="form-control"
          name="task"
          placeholder="Detail"
          formControlName="task"
        ></textarea>
        <span
          *ngIf="
            !todolistForm.get('task').valid && todolistForm.get('task').touched
          "
          class="formnoti"
          >Please enter the task detail</span
        >
      </div>
    </div>
    <div class="row m-2">
      <div class="col-12">
        <input
          type="text"
          class="form-control"
          placeholder="CreateBy"
          formControlName="createdBy"
        />
        <span
          *ngIf="
            !todolistForm.get('createdBy').valid &&
            todolistForm.get('createdBy').touched
          "
          class="formnoti"
          >Please enter your name as a creator</span
        >
      </div>
    </div>
    <div class="row m-2">
      <div class="col-12" style="justify-content: start">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            formControlName="deathLine"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="d.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
        <span
          *ngIf="
            !todolistForm.get('deathLine').valid &&
            todolistForm.get('deathLine').touched
          "
          class="formnoti"
          >Please enter the deathline of your task</span
        >
      </div>
    </div>
    <div class="row py-3">
      <div class="col">
        <button class="btn btn-outline-secondary" type="submit">ADD</button>
      </div>
      <div class="col">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="reset()"
        >
          RESET
        </button>
      </div>
    </div>
  </form>
</div>
