/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Questrial";
  src: url("assets/fonts/Questrial/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
