<div class="col">
  <div class="header3 px-3">INTRODUCTION</div>
  <div class="px-3"><hr /></div>
  <div class="px-3 content">
    <ul>
      <li>Javascript/Typescript</li>
      <li>React (UseState/UseContext/Redux/Reducer)</li>
      <li>Angular</li>
      <li>NodeJs (Express/Nestjs)</li>
      <li>SQL Database</li>
      <li>
        Azure Cloud Service(Application service, Service Bus, Communication
        service, Data Factory ,etc)
      </li>
      <li>CI/CD pipeline (YAML Azure devop pipline)</li>
      <li>Matlab</li>
    </ul>
  </div>
</div>
